/*~~~~~~~~~~~~~~~~~~~~~~~~~
VARIABLES
~~~~~~~~~~~~~~~~~~~~~~~~~*/

$color-primary: #FF6F61;
$color-secondary: #383838;
$color-text: #383838;
$basick-orange: #FF7D28;
$basick-green: #58A956;
$basick-birch: #A0C8E4;

:root {
	/*font-family*/
	--fm-1: "Montserrat", sans-serif;

	/*colors*/
	--color-primary: #{$color-primary};
	--color-secondary: #{$color-secondary};
	--color-text: #{$color-text};
	--basic-black: #000;
	--basick-orange: #{$basick-orange};
	--basick-green: #{$basick-green};
	--basick-birch: #{$basick-birch};
}

//breakpoints
$desctop: 1920;
$desctop-mid: 1450;
$desctop-min: 1230;
$table: 1024;
$mobile: 768;
$tel: 480;

/***********************Main*/
$duration: 0.3s;

