/*==================== HEADER ====================*/

header {
	position: relative;
	z-index: 10;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		padding: 5px 0 0;
		width: 100%;
		animation: anim 0.5s;

		@include table {
			padding: 10px 0;
		}
	}

	@keyframes anim {
		from {
			transform: translateY(-100%);
		}
		to {
			transform: translateY(0);
		}
	}
}

.header {
	&__container {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__aside {
		display: flex;
		flex-shrink: 0;
	}

	&__body {
		flex: 1;
		margin-left: getPr(53, 1170);
		padding-top: 11px;
	}

	/*logo*/
	&__logo {
		margin: auto;
		padding: 10px 0;
		max-width: 116px;
	}

	/*header top*/
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 15px;
		font-size: 14px;
	}

	&__firm-info {
		margin-left: getPr(53, 1001);
	}

	&__sciLinks {
		margin-left: auto;

		.sci-link {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	/*header bottom*/
	&__bottom {
		display: flex;
		.sci-link {
			display: none;
			margin-left: auto;
			width: 34px;
			height: 34px;
			border: 0.5px solid #f4f3f3;

			svg {
				margin: 0 auto;
				max-width: getPr(20, 34);
			}
		}

		&-col {
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-top: -13px;
		}
	}

	&__burger .bro-menu {
		overflow: visible;
	}

	&__callback {
		--height: #{getEm(38, 16)};
		--fz: 16px;
		min-width: getEm(195, 16);
	}

	&__btnBasket {
		flex-shrink: 0;
		margin-left: 30px;
	}

	&__hamburger {
		display: none;
		margin-left: 40px;
		height: 31px;
		width: 31px;
		color: var(--basick-white);
		background-color: var(--color-primary);
		border-radius: 50%;
		transform: scale(1.2);

		span {
			left: 50%;
			width: getPr(18, 31);
			transform: translateX(-50%);

			&::before {
				top: -6px;
			}

			&::after {
				bottom: -6px;
			}
		}

		&.active span {
			transform: translateX(-50%) rotate(90deg);
		}
	}

	@include from($desctop-min + 1) {
		@at-root header .menu > li > ul {
			/*имитация тени шапки над выпадающим списком*/
			&::before {
				content: "";
				position: absolute;
				right: -10px;
				bottom: 100%;
				left: -10px;
				z-index: 1;
				display: block;
				height: 13px;
				background-color: #fff;
			}
		}
	}

	@include desctop-min {
		&__firm-info,
		&__bottom-col,
		&__sciLinks {
			display: none;
		}

		&__top {
			padding-bottom: 0;
		}

		&__body {
			padding-top: 0;
		}

		&__logo {
			max-width: 80px;
		}

		&__hamburger {
			display: block;
		}

		&__sci {
			margin-left: auto;
		}

		&__burger {
			position: fixed;
			left: -100%;
			z-index: 999;
			width: 100%;
			background-color: var(--basick-white);
			box-shadow: inset 0px 20px 20px -20px rgba(0, 0, 0, 0.1);
			transition: transform 0.2s;

			&::before {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 98;
				height: 100vh;
				background-color: rgba(0, 0, 0, 0.4);
			}

			&.open {
				transform: translateX(100%);
			}

			&-inner {
				max-height: 100vh;
				width: 100%;
				overflow: auto;
			}

			.hamburger,
			.menu__arr,
			.menu__item-arr {
				display: none !important;
			}

			/*bro menu*/
			.bro-menu {
				$indetForBtn: 1em;
				font-size: 16px;

				ul {
					width: 100%;
				}

				&__next,
				&__back,
				.menu__link {
					cursor: pointer;
					position: relative;
					display: inline-flex;
					align-items: center;
					padding: 0.9rem $indetForBtn;
					width: 100%;
					text-transform: uppercase;
					transition: color $duration;

					&:hover {
						background-color: #f4f4f4;
					}
				}

				.menu__link {
					column-gap: 25px;
				}

				.menu__item {
					&.active > .bro-menu__link {
						background-color: #f4f4f4;
					}
				}

				&__next,
				&__back {
					svg {
						flex-shrink: 0;
						display: block;
						width: 13px;
					}
				}

				&__next svg {
					margin-left: auto;
				}

				&__back {
					background-color: var(--color-primary) !important;
					color: var(--basick-white);

					svg {
						margin-right: 1em;

						fill: var(--basick-white);
						transform: scaleX(-1);
					}
				}
			}

			.menu {
				display: block;

				& > .menu__item {
					position: static;
					margin-right: 0;

					& > .menu__link {
						padding: 0.9em 1em;
					}
				}
			}

			.bro-menu {
				overflow: hidden;
			}
		}
	}

	@include desctop-min {
		@at-root header {
			padding: 10px 0;
		}

		&__logo {
			padding: 0;
		}
	}

	@include mobile {
		@at-root header {
			padding: 8px 0;
		}

		&__logo {
			max-width: 54px;
		}
		&__hamburger {
			margin-left: 28px;
			transform: scale(1);
		}
		&__sci {
			.sci__link--phone {
				display: none;
			}
		}
	}
}

/*menu*/
.menu {
	$this: &;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	font-size: 16px;

	/*1-ый уровень, не скрытый, горизонтальный*/
	& > &__item {
		position: relative;
		margin-right: 10px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}

		& > #{$this}__link {
			position: relative;
			display: inline-flex;
			padding: 15px 10px 28px;
			line-height: (20/16);
			white-space: nowrap;
			text-transform: uppercase;
			transition: all $duration;

			& > #{$this}__arr {
				svg {
					transform: rotate(90deg);
				}
			}
		}

		&:hover,
		&.active {
			& > .menu__link {
				color: var(--color-primary);
			}
		}

		&:hover > #{$this}__link #{$this}__arr {
			transform: scaleY(-1);
		}
	}
	/***********************************/

	@include from($desctop-min + 1) {
		/*Все вложенные списки в меню, скрытые, вертикальные*/
		ul {
			position: absolute;
			padding: 14px 0;
			min-width: 300px;
			max-width: 340px;
			background-color: var(--basick-white);
			box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05), inset 0px 20px 20px -20px rgba(0, 0, 0, 0.1);
			opacity: 0;
			pointer-events: none;
			transition: opacity $duration;
		}

		li {
			position: relative;
		}

		/*Раскрытие вложенного списка при наведение на li*/
		li:not(.menu__item--drop):hover {
			& > ul {
				opacity: 1;
				pointer-events: all;
			}
		}

		/*Позиционирование 2-го уровень меню*/
		& > li > ul {
			top: 100%;
			left: 0;
		}

		/*Позиционирование 3+-го уровень меню*/
		ul ul {
			padding: 0;
			top: 0;
			left: 100%;
		}

		/*ссылки со 2-го уровня меню*/
		ul &__link {
			display: flex;
			justify-content: space-between;
			padding: 12px 20px 12px 20px;
			width: 100%;
		}

		/*Элементы со 2-го уровня меню(активные)*/
		ul li.active {
			background-color: var(--color-primary);

			& > a,
			& > span {
				color: var(--basick-white);

				& > span svg {
					fill: var(--basick-white);
				}
			}
		}

		/*Элементы со 2-го уровня меню(наведение)*/
		ul li:not(.active):hover {
			background-color: var(--color-primary);

			& > a,
			& > span {
				color: var(--basick-white);

				& > span svg {
					fill: var(--basick-white);
				}
			}
		}

		/*Вложенное меню в 1-ом уровне*/
		&__item--drop {
			display: flex;
			align-items: center;
			padding-left: 0;

			& > #{$this}__link {
				padding-left: 5px !important;
			}

			&.active > ul {
				opacity: 1;
				pointer-events: all;
			}

			#{$this}__arr {
				margin-left: 20px;
			}

			#{$this}__item-toggle {
				flex-shrink: 0;
				margin-top: -#{getEm(10, 12)};
				transform: scale(0.8);
			}

			#{$this}__item-toggle.active + .menu__link {
				color: var(--color-primary);
				text-shadow: 0.05px 0.05px 0 var(--color-primary), -0.05px -0.05px 0 var(--color-primary);
			}
		}

		&__arr {
			display: inline-flex;
			align-items: center;
			margin: getEm(3, 12) 0 0 getEm(6, 12);
			height: getEm(11, 16);
			width: getEm(10, 16);
			fill: var(--textColor);
			transition: transform $duration;

			svg {
				max-height: 100%;
			}
		}
	}
}
