/*==================== HEADER ====================*/

header {
	position: relative;
	z-index: 10;
	padding-top: 11px;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    &.fixed {
		position: fixed;
		top: 0;
		left: 0;
		padding: 5px 0 0;
		width: 100%;
		animation: anim 0.5s;

        @include table {
            padding: 10px 0;
        }
	}

	@keyframes anim {
		from {
			transform: translateY(-100%);
		}
		to {
			transform: translateY(0);
		}
	}
}

.header {
	&__container {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__aside {
		display: flex;
	}

	&__body {
		flex: 1;
		margin-left: getPr(53, 1170);
	}

	/*logo*/
	&__logo {
		margin: auto;
		max-width: 116px;
	}

	/*header top*/
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 12.5px;
		font-size: 14px;
	}

	&__firm-info {
		margin-left: getPr(53, 1001);
	}

	&__sciLinks {
		margin-left: auto;

		.sci-link {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	/*header bottom*/
	&__bottom {
		.sci-link {
			display: none;
			margin-left: auto;
			width: 34px;
			height: 34px;
			border: 0.5px solid #F4F3F3;

			svg {
				margin: 0 auto;
				max-width: getPr(20, 34);
			}
		}
	}

	&__burger .bro-menu {
		overflow: visible;
	}

	&__hamburger {
		display: none;
		height: 34px;
		width: 34px;
		color: var(--basick-white);
		background-color: var(--color-primary);

		span {
			left: 50%;
			width: getPr(23, 34);
			transform: translateX(-50%);
		}

		&.active span{
			transform: translateX(-50%) rotate(90deg);
		}
	}

	@include table{
		&__top {
			padding-left: 0;

			&::before {
				display: none;
			}
		}

		&__firm-info {
			display: none;
		}

		&__logo {
			position: static;
			max-width: 152px;
		}

		&__bottom {
			position: relative;

			.sci-link {
				display: block;
			}
		}

		&__search {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			opacity: 0;
			pointer-events: none;
			transition: opacity $duration, z-index 0s $duration;

			&.active {
				z-index: 5;
				opacity: 1;
				pointer-events: all;
				transition: opacity $duration, z-index 0s;
			}

			.search {
				&__inner {
					border-radius: 0;
				}

				&__btn {
					display: none;
				}

				&__close {
					display: inline-block;
				}
			}
		}

		&__burger {
			position: fixed;
			left: -100%;
			z-index: 999;
			width: 100%;
			background-color: var(--basick-white);
			box-shadow: inset 0px 20px 20px -20px rgba(48, 130, 255, 0.5);
			box-shadow: inset 0px 20px 20px -20px rgba(0, 0, 0, 0.1);
			transition: transform 0.2s;

			&::before {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				z-index: 98;
				height: 100vh;
				background-color: rgba(0, 0, 0, 0.4);
			}

			&.open {
				transform: translateX(100%);
			}

			&-inner {
				max-height: 100vh;
				width: 100%;
				overflow: auto;
			}

			.hamburger,
			.menu__arr,
			.menu__item-arr {
				display: none !important;
			}

			/*bro menu*/
			.bro-menu {
				$indetForBtn: 1em;

				ul {
					width: 100%;
				}

				&__next,
				&__back,
				.menu__link {
					cursor: pointer;
					position: relative;
					display: inline-flex;
					align-items: center;
					padding: 0.9rem $indetForBtn;
					width: 100%;
					text-transform: uppercase;
					transition: color $duration;

					&:hover {
						background-color: #f4f4f4;
					}
				}

				.menu__link {
					column-gap: 25px;
				}

				.menu__item {
					&.active > .bro-menu__link {
						background-color: #f4f4f4;
					}
				}

				&__next ,
				&__back {
					svg {
						flex-shrink: 0;
						display: block;
						width: 10px;
					}
				}

				&__next svg {
					margin-left: auto;
				}

				&__back {
					background-color: var(--color-primary) !important;
					font-size: 14px !important;
					color: var(--basick-white);

					svg {
						margin-right: 1em;

						fill: var(--basick-white);
						transform: scaleX(-1);
					}
				}
			}

			.menu {
				display: block;

				& > .menu__item {
					position: static;
					margin-right: 0;

					& > .menu__link {
						padding: 0.9em 1em;
					}
				}
			}

			.bro-menu {
				overflow: hidden;
			}
		}
	}

	@include mobile {
		&__top {
			justify-content: start;
			font-size: 9px;

			.sci:first-child {
				margin-right: 28px;
			}

			.sci {
				&__link {
					margin-left: 3px;

					svg {
						width: 17px;
						height: 17px;
					}
				}
			}
		}
		&__sci-linksGroup {
			display: none;
		}
	}
}

/*menu*/
.menu {
	$this: &;
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	font-size: 12px;

	& > &__item {
		position: relative;
		margin-right: 10px;
		text-transform: uppercase;

		&:last-child {
			margin-right: 0;
		}

		& > #{$this}__link {
			position: relative;
			display: inline-flex;
			padding: 15px 5px 18px;
			line-height: (15/12);
			white-space: nowrap;
			transition: all $duration;
		}

		&:hover,
		&.active {
			& > .menu__link {
				color: var(--color-primary);
				text-shadow: 0.05px 0.05px 0 var(--color-primary),
							-0.05px -0.05px 0 var(--color-primary);
			}
		}

		&:hover > #{$this}__link #{$this}__arr {
			transform: scaleY(-1);
		}
	}

	@include from($table) {

		ul {
			position: absolute;
			padding: 14px 0;
			min-width: 300px;
			max-width: 340px;
			background-color: var(--basick-white);
			border-radius: 0px 0px 5px 5px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13),
						inset 0px 20px 20px -20px rgba(0, 0, 0, 0.1);
			opacity: 0;
			pointer-events: none;
			transition: opacity $duration;

			&::before {
				content: "";
				position: absolute;
				right: -10px;
				bottom: 100%;
				left: -10px;
				z-index: 1;
				display: block;
				height: 13px;
				background-color: #fff;
			}
		}

		& > li > ul {
			top: 100%;
			left: 0;
		}

		li:not(.menu__item--drop):hover {
			& > ul {
				opacity: 1;
				pointer-events: all;
			}
		}

		ul ul {
			top: 0;
			left: 100%;
		}

		ul &__link {
			display: flex;
			padding: 12px 20px 12px 20px;
			width: 100%;
		}

		ul li:not(.active):hover {
			background-color: var(--color-primary);

			& > a,
			& > span {
				color: var(--basick-white);

				svg {
					fill: var(--basick-white);
				}
			}
		}

		ul li.active {
			//background-color: lighten($color-secondary, 70%);
		}

		&__item--drop {
			display: flex;
			align-items: center;
			padding-left: 0;

			&.active > ul {
					opacity: 1;
					pointer-events: all;
				}

			#{$this}__arr {
				margin-left: 20px;

				svg {
					transform: rotate(-90deg);
				}
			}

			#{$this}__item-toggle {
				flex-shrink: 0;
				margin-top: -#{getEm(2, 12)};
				transform: scale(0.75);
			}

			#{$this}__item-toggle.active + .menu__link {
				color: var(--color-primary);
				text-shadow: 0.05px 0.05px 0 var(--color-primary), -0.05px -0.05px 0 var(--color-primary);
			}

			#{$this}__link {
				justify-content: space-between;
			}
		}

		&__link {
			padding: 17px 15px 19px;
		}

		&__arr {
			display: inline-flex;
			align-items: center;
			margin: getEm(3, 12) 0 0 getEm(6, 12);
			width: getEm(11, 12);
			height: getEm(10, 12);
			fill: var(--textColor);
			transition: transform $duration;

			svg {
				max-height: 100%;
			}
		}
	}
}
